<nav>
    <ul style="display: flex; ">
        <li style="list-style: none; padding-right: 10px;"><a href="/rem">Home</a></li>
        <li style="list-style: none; padding-right: 10px;"><a href="/rem/products">Products</a></li>
        <li style="list-style: none; padding-right: 10px;"><a href="/rem/signup/new">Sign Up</a></li>
    </ul>
</nav>